@font-face {
  font-family: 'Pixel';
  src: url('NESCyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    background-color: black;
}

#root {
    padding: 2rem;
    text-align: center;
    font-size: 2vw;
}

#root h1 {
    font-family: Pixel;
    color: white;
}

#root canvas {
    display: block;
    margin: 0 auto;
    width: 27%;
}

#container {
	width: 480px;
	margin: auto;
}
