@font-face {
  font-family: 'Pixel';
  src: url('NESCyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    background-color: black;
}

#root {
    width: 315px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root h1 {
    font-family: Pixel, sans-serif;
    color: white;
}